
@model List<Project>
@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Archive</h2>

<div class="row">
    <div class="col-xl-6">
        <!--table des projets-->
        <div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projets Archivés</h6>
                </div>
                <div class="card-body" height="500px">
                    <div class="table-responsive" style="height:500px">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Projet</th>
                                    <th>Date d'échéance</th>
                                    <th>jour</th>
                                    <th>Dernière mise à jour</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Projet</th>
                                    <th>Date d'échéance</th>
                                    <th>jour</th>
                                    <th>Dernière mise à jour</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="location.href='@Url.Action("ProjetArchive", "Admin", new { id = item.ProjectId})'">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProjectName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProjectFin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProjectDebut)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProjectDebut)
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!--fin table des projets-->
    </div>
</div>

