@model Solutios.Models.Users
@{
    ViewData["Title"] = "profil";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    string zip = Model.UserZipcode;
    string address = Model.UserAddress;
    string address2 = Model.UserAddress2;
    string city = Model.UserCity;
    string province = Model.UserProvince;

    if (zip == null)
    {
        zip = "Aucun Défini";
    }
    if (address == null)
    {
        address = "Aucune Définie";
    }
    if (address2 == null)
    {
        address2 = "Aucune Définie";
    }
    if (city == null)
    {
        city = "Aucune Définie";
    }
    if (province == null)
    {
        province = "Aucun Défini";
    }

}

<h2>Profil</h2>

<div class="container">

    <div class="col-md-12 border-0 shadow-lg my-5" style="background-color: white">
        <div class="p-5">
          
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtSurname">Prénom :</label>
                        <label id="txtSurname">@Model.UserFirstName</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtName">Nom :</label>
                        <label­ id="txtName">@Model.UserName</label­>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  form-group">
                        <label for="txtEmail4">Courriel :</label>
                        <label id="txtEmail4">@Model.UserEmail</label>
                    </div>                 
                </div>
                <div class="form-group">
                    <label for="txtAddress1">Addresse :</label>
                    <label id="txtAddress1">@address</label>
</div>
                <div class="form-group">
                    <label for="txtAddress2">Addresse 2 :</label>
                    <label id="txtAddress2"> @address2 </label>
                </div>
                <div class="row">
                    <div class="col-md-4"­>
                        <label for="inputCity">Ville :</label>
                        <label id="txtCity">@city</label>
                    </div>
                    <div class="col-md-4">
                        <label for="txtProvince">Province :</label>
                        <label>@province</label>
                    </div>
                    <div class="col-md-4">
                        <label for="txtZip">Code Postal :</label>
                        <label id="txtZip">@zip</label>
                    </div>
                </div>

                



        </div>
    </div>






</div>