@model List<Users>;
@{
    ViewData["Title"] = "Usagers";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Gestion des usagers</h2>

<div class="row">
    <div class="col-lg-9">
        <!--table des projets-->
        <div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Liste d'usagers</h6>
                </div>
                <div class="card-body" height="500px">
                    <div class="table-responsive" style="height:500px">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Adresse courriel</th>
                                    <th>Numéro de téléphone</th>
                                    <th>Rôle</th>
                                </tr>
                            </thead>
                            <tfoot>
								<tr>
									<th>Nom</th>
									<th>Adresse courriel</th>
									<th>Numero de téléphone</th>
									<th>Rôle</th>
								</tr>
                            </tfoot>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserFirstName)  @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserPhone)
                                    </td>
									<td>
										@Html.DisplayFor(modalItem =>item.UserRole)
									</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!--fin table des projets-->
    </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#NewUserModal">Ajouter un usager</button>

<div class="modal rounded-0" id="NewUserModal">
    @{ Html.RenderPartial("Partiel/AddUser", new Solutios.Models.Users()); }
</div>


    
