@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ViewProject>;
<div class="col-xl-6">
    <!--table de la soumissions-->
    <div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary">Dépense</h6>
            </div>
            <div class="card-body py-2">
                <div class="table-responsive" style="height:auto">
                    <table class="table table-hover table-sm border shadow" id="dataTable" width="100%" cellspacing="0">
                        <thead class="card-header text-primary text-center">
                            <tr>
                                <th></th>
                                <th>Montant Soumissionné</th>
                                <th>
                                    Dépenses courantes
                                    <a class="text-wrap text-primary" data-toggle="modal" data-target="#ExpenseModal">
                                        <i class="far fa-plus-square"></i>
                                    </a>
                                </th>

                                <th>Budget courant</th>
                            </tr>
                        </thead>

                        <tbody style="font-size:small" class="text-center">
                            @{
                                double soumission = 0;
                                double dépensecourrante = 0;
                                double budgetcourant = 0;

                            }

                            @foreach (var item in Model)
                            {
                                <tr class="table-row">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.spending)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.soumission)
                                        @{ soumission += item.soumission;}
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dépensecourrante)
                                        @{ dépensecourrante += item.dépensecourrante;}
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.budgetcourant)
                                        @{ budgetcourant += item.budgetcourant;}
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="card-header text-primary text-center">
                            <tr>
                                <th>Total</th>
                                <th>@soumission</th>
                                <th>@dépensecourrante</th>
                                <th>@budgetcourant</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade rounded-0" id="ExpenseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="form">
                @{
                    Html.RenderPartial("Partiel/_partielExpense");@* va chercher le modal des depenses*@
                }
            </div>
        </div>
    </div>
</div>

<div class="col-xl-6">
    <!--table des estimers-->
    <div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <h6 class="m-0 font-weight-bold text-primary">Estimation</h6>
            </div>
            <div class="card-body py-2">
                <div class="table-responsive" style="height:auto">
                    <table class="table table-hover table-sm border shadow" id="dataTable" width="100%" cellspacing="0">
                        <thead class="card-header text-primary text-center">
                            <tr>
                                <th></th>
                                <th>Dépenses prévues</th>
                                <th>Budget estimé</th>
                                <th>Dépenses finales estimées</th>
                            </tr>
                        </thead>

                        <tbody style="font-size:small" class="text-center">

                            @{
                                double totaldepenceP = 0;
                                double budgetestime = 0;
                                double depenseFinaleE = 0;

                            }

                            @foreach (var item in Model)
                            {
                                <tr class="table-row">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.spending)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.depenceP)
                                        @{ totaldepenceP += item.depenceP;}
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.budgetestime)
                                        @{ budgetestime += item.budgetestime;}
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.depenseFinaleE)
                                        @{ depenseFinaleE += item.depenseFinaleE;}
                                    </td>
                                </tr>
                            }                            
                        </tbody>
                        <tfoot class="card-header text-primary text-center">
                            <tr>
                                <th>Total</th>
                                <th>@totaldepenceP</th>
                                <th id="budjet">@budgetestime</th>
                                <th>@depenseFinaleE</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>